

.page1{
	width: 100%;
	height:100vh;
background: url("images/cover1.jpg");
	background-size: cover;
    background-position: top;
	background-attachment: fixed;     
}
.page2{
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.75;
}

.page2wrapper{
        background: url("images/cover1.jpg");
background-position: top;
	background-attachment: fixed;
	background-size: cover;
}
.content{
	color: white;
	padding:12%;
	
}
 .commentBox{
	margin:20px;
 }

