

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 15em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


h1 {
	color: mix(#ffe76a, #0a0a0a, 85%);
	font-size: calc(0.5em + 12vw) ;  
	font-weight: 900;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#e0ab5b, #090909, 94%),
		0.005em 0.005em 0 mix(#e0ab5b, #0e0e0e, 60%),
		0.01em 0.01em 0 mix(#e0ab5b, #131313, 62%), 
		0.015em 0.015em mix(#6e4c41, #090909, 64%), 
		0.02em 0.02em 0 mix(#6e4c41, #090909, 66%), 
		0.025em 0.025em 0 mix(#6e4c41, #0b0b0b, 68%),
		0.03em 0.03em 0 mix(#6e4c41, #131313, 70%),
		0.035em 0.035em 0 mix(#6e4c41, #101010, 72%);
}