
.commentContainer {
  margin-top: 6px;
  background-color: #d3d3d3e0;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 600px;
  cursor: pointer;
  border-radius: 5px;
  
}

.commentContainer:hover {
  background-color: #d3d3d3bf;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.inputContainer > span {
  margin-top: 15px;
}

.inputContainer__input {
  margin: 20px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.col{
  margin-bottom: 20px;
 
}


.commentContainer > span {
  color: black;
  font-size: 20px;
}

.reply {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  cursor: pointer;
 
}

.comment {
  color: black;
  background-color: whitesmoke;
  letter-spacing: 0.8px;
  margin: 20px 0 0px 0;
  font-size: 16px;
}


